redis
mysql-connector-python
blinker
click
diagrams
Flask
graphviz
itsdangerous
Jinja2
MarkupSafe
Werkzeug
keras
pandas
scikit-learn
matplotlib
seaborn
numpy
pandas
joblib
requests
tensorflow
matplotlib
Flask-SQLAlchemy
Flask-Login
torch
transformers
