Flask
flask-sqlalchemy
flask-login
mysql-connector-python
pymysql
requests
torch
flask-mail
transformers
flask-socketio
web3
flask-migrate
werkzeug
paypalrestsdk
opt-einsum
flask_talisman
flask-cors
python-dotenv
